[submodule "submodules/signal-cli"]
	path = submodules/signal-cli
	# url = git@github.com:AsamK/signal-cli.git
	url = git@github.com:aanno/signal-cli.git
[submodule "submodules/secret-service"]
	path = submodules/secret-service
	# url = git@github.com:swiesend/secret-service.git
    url = git@github.com:aanno/secret-service.git
